html {
  font-size: 10px;
  font-family: Finlandica + Headline;
}

h1 {
  font-size: 45px;
  text-align: center;

  margin: 0;
  padding: 20px 0;
  color: #c186e9;
  text-shadow: 3px 3px 1px #1e0071;
}

h2 {
  font-size: 30px;
  text-align: center;

  margin: 0;
  padding: 20px 0;
  color: #c186e9;
  text-shadow: 3px 3px 1px #001392;
}

p,
li {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}

html {
  background-color: #c186e9;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9b29;
  padding: 0 20px 20px 20px;
  border: 5px #5f0061 solid;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 25%;
}
